version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    target-branch: "main"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "⬆️ deps: "
    ignore:
      - dependency-name: k8s.io/*
      - dependency-name: sigs.k8s.io/*
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "⬆️ ci: "
    labels: [ dependencies, skip-changelog ]