apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cloud-controller-manager:apiserver-authentication-reader
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: extension-apiserver-authentication-reader
subjects:
- apiGroup: ""
  kind: ServiceAccount
  name: cloud-controller-manager
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:cloud-controller-manager
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resourceNames:
  - node-controller
  - service-controller
  - route-controller
  resources:
  - serviceaccounts/token
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/status
  verbs:
  - patch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services/status
  verbs:
  - patch
  - update
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - endpoints
  verbs:
  - create
  - get
  - list
  - update
  - watch
---
# CCM Service
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system:cloud-controller-manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- apiGroup: ""
  kind: ServiceAccount
  name: cloud-controller-manager
  namespace: kube-system
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: osc-cloud-controller-manager
  name: osc-cloud-controller-manager
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: osc-cloud-controller-manager
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: osc-cloud-controller-manager
        {{- if .Values.podLabels }}
          {{ toYaml .Values.podLabels | nindent 8 }}
        {{- end}}
    spec:
      serviceAccountName: cloud-controller-manager
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: osc-cloud-controller-manager
          image: {{ .Values.image.repository }}:{{ required "image.tag needs to be set to the version matching your Kubernetes version" .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/osc-cloud-controller-manager
            - --configure-cloud-routes=false
            - --cloud-provider=osc
            - -v={{ .Values.verbose }}
            {{- if .Values.extraLoadBalancerTags }}
              {{- include "osc-cloud-controller-manager.extra-loadbalancer-tags" . | nindent 12 }}
            {{- end }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          {{- if or .Values.caBundle.name (and .Values.oscCredentialsFromFile .Values.oscSecretName) }}
          volumeMounts:
          {{- if .Values.caBundle.name }}
            - name: ca-bundle
              mountPath: /etc/ssl/certs
              readOnly: true
          {{- end }}
          {{- if and .Values.oscCredentialsFromFile .Values.oscSecretName }}
            - name: credentials
              mountPath: /root/.osc
              readOnly: true
          {{- end }}
          {{- end }}
          env:
            {{- if not .Values.oscCredentialsFromFile }}
            {{- if eq .Values.oscSecretFormat "v1" }}
            - name: OSC_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: access_key
                  optional: true
            - name: OSC_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: secret_key
                  optional: true
            {{- else }}
            - name: OSC_ACCOUNT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: osc_account_id
                  optional: true
            - name: OSC_ACCOUNT_IAM
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: osc_account_iam
                  optional: true
            - name: OSC_USER_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: osc_user_id
                  optional: true
            - name: OSC_ARN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: osc_arn
                  optional: true
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: key_id
                  optional: false
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: access_key
                  optional: false
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: aws_default_region
                  optional: false
            - name: AWS_AVAILABILITY_ZONES
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: aws_availability_zones
                  optional: true
            - name: OSC_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: access_key
                  optional: false
            - name: OSC_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oscSecretName | default "osc-secret" }}
                  key: key_id
                  optional: false
            {{- end }}
            {{- if .Values.customEndpoint }}
            - name: OSC_ENDPOINT_API
              value: {{ .Values.customEndpoint }}
            {{- end }}
            {{- if .Values.customEndpointLbu }}
            - name: OSC_ENDPOINT_LBU
              value: {{ .Values.customEndpointLbu }}
            {{- end }}
            {{- end }}
            {{- if .Values.httpsProxy }}
            - name: HTTPS_PROXY
              value: {{ .Values.httpsProxy }}
            - name: NO_PROXY
              value: {{ .Values.noProxy }}
            {{- end }}
            {{- if .Values.customClusterID }}
            - name: OSC_CLUSTER_ID
              value: {{ .Values.customClusterID }}
            {{- end }}
      {{- if or .Values.caBundle.name (and .Values.oscCredentialsFromFile .Values.oscSecretName) }}
      volumes:
      {{- if .Values.caBundle.name }}
        - name: ca-bundle
          secret:
            secretName: {{ .Values.caBundle.name }}
            items:
              - key: {{ .Values.caBundle.key }}
                path: ca-certificates.crt
      {{- end }}
      {{- if and .Values.oscCredentialsFromFile .Values.oscSecretName }}
        - name: credentials
          secret:
            secretName: {{ .Values.oscSecretName }}
      {{- end }}
      {{- end }}
      hostNetwork: true
      affinity: {{ toYaml .Values.affinity | nindent 8}}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8}}
      tolerations: {{ toYaml .Values.tolerations | nindent 8}}
