name: Build

on:
  push:
    branches:
      - kubernetes-*
  pull_request:
    branches:
      - main
      - kubernetes-*
    paths:
      - "**.go"
      - "Dockerfile"
      - "Makefile"
      - "go.*"
      - ".github/workflows/build.yml"
      - "deploy/**"
      - "!tests/**"
  workflow_dispatch:
    
permissions:
  contents: read

jobs:
  Build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v5
    - name: Docker Lint
      run: bash -c "make dockerlint"
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.1
        args: --timeout=300s
        only-new-issues: true
    - name: Test
      run: bash -c "make test"
    - name: Image
      run: bash -c "make build-image"
    - name: Check docs
      run: bash -c "make check-helm-docs"
    - name: Check manifest
      run: bash -c "make check-helm-manifest"
    - name: Trivy-Scan
      id: trivyscan
      run: make trivy-scan
    - name: Upload Trivy results
      if: ${{ github.event_name != 'pull_request' }}
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: './.trivyscan/report.sarif'